<h2>
	Check-out my Rocket ~Elon Musk XD
</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class=" m-3">
	<a class="btn btn btn-primary" href="/">Back to Homepage</a>	
</div>

<%var month=["January","February","March","April","May","June","July","August","September","October","November","December"];%>
<%//creating an array of month names to print the month name by reference from index ids%>


<%	rockets.forEach(function(rocket){	%>
<ul>
	<li>
		<ul>
			<div style ="text-align:center"class="container">
				<li>	Flight Number : <%=rocket.flight_number%>	</li>	
					<%var date = new Date(rocket.launch_date_utc);%> <%//creating an object of Date class to extract month,day and date "%>
				<li>	Launch Date :  <%= date.getUTCDate()+" "+month[date.getUTCMonth()]  +" "+date.getUTCFullYear() %>  </li>
				<li>	Rocket Name : <%=rocket.rocket.rocket_name%>  </li>
				<% if(rocket.links.mission_patch!=null){	%>	
				<li>	Mission Patch Link : 
					<img src="<%=rocket.links.mission_patch%>">	</li>	
			<%} else {%>
					<li>	Mission Patch Link : TBD	</li>	<%//for rockets that haven't been launched yet%>
				<% } %>
			</div>
		</ul>
	</li>
</ul>
<%});%>